body{
	padding: 0 !important;
	margin: 0  !important;
}

.no-padding{
	padding: 0 !important;
}

.left-padding{
	padding-left: 15px !important;
}

.result-block{
	display:inline-block;
}

.logout{
	padding-left: 0;
}

.user-name{
	padding-top: 15px;
}

.right-nav-section{
	float: right;
}

.right-nav-section .btn{
	color:  #fff !important;
	margin-top: 5%;
}

.right-nav-section	.btn-danger:hover{
	background-color: darken(#d9534f, 20%) !important;
}

/* .nav.navbar-right li{
	.btn{
		color:  #fff !important;
		margin-top: 5%;
	}
	.btn-danger:hover{
		background-color: darken(#d9534f, 20%) !important;
	}
} */